# **Monitoreo de la Calidad del Agua Mediante Algoritmos de Aprendizaje Automático**


(Agregar descripción)

### Debemos instalar algunas dependencias para leer el archivo "xlsb" con el comando "!pip install pyxlsb" 
(solo si es necesario)

In [ ]:
# instalar dependencias

!pip install pyxlsb

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyxlsb
  Downloading pyxlsb-1.0.10-py2.py3-none-any.whl (23 kB)
Installing collected packages: pyxlsb
Successfully installed pyxlsb-1.0.10

### Importamos las librerías

In [ ]:
# librerias

import numpy as np
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 
 
# modulos

from seaborn import palettes
from sklearn.cluster import MiniBatchKMeans 

import warnings 
warnings.filterwarnings("ignore")

### Creamos la conexión con Google

(Solo si es necesario)

In [ ]:
if __name__ == "__main__":

    # creamos la conexión con google

    from google.colab import drive
    drive.mount('/content/drive')    # nobre de la conexion

    # o subimos un archivo (si es necesario)

    # from google.colab import files
    # Uploaded = files.upload()

Mounted at /content/drive

### Creamos una variable con el nuevo archivo

In [ ]:
    ## leemos los archivos

    ### leemos el archivo y especificamos la hoja que usaremos como df
    ch_dbo_1 = pd.read_excel('/content/drive/MyDrive/UAM/Calidad del agua /ResChiapas (4).xlsb', sheet_name = '2012-2021')
    
    ## eliminamos las columnas innecesarias

    ch_dbo_1.drop(['Unnamed: 0','Unnamed: 1', 'CLAVE SITIO', 'CLAVE MONITOREO', 'NOMBRE DEL SITIO', 'TIPO DE CUERPO DE AGUA'], axis = 1, inplace = True)
    ch_dbo_1.dropna()
    ### leemos el df
    ch_dbo_1

,FECHA,ALC_TOT,HCO3,CLOROF_A,COLI_FEC,E_COLI,COT,COT_SOL,DBO_SOL,DBO_TOT,...,CLORUROS_SOL,FLUORUROS_SOL,SO4_SOL,FE_SOL,MN_SOL,ZN_SOL,CA_SOL,MG_SOL,K_SOL,NA_SOL
0,44032,NaN,NaN,23.13460,15.0,15.0,1.1930,0.9930,7.44,8.88,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,44032,NaN,NaN,NaN,390.0,230.0,2.3890,NaN,NaN,2.78,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,44033,NaN,NaN,NaN,930.0,430.0,1.9330,NaN,NaN,3.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,44033,NaN,NaN,5.13640,NaN,NaN,2.7000,1.8650,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,44033,NaN,NaN,NaN,280.0,280.0,2.0350,NaN,NaN,2.85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,44466,NaN,NaN,NaN,23.0,NaN,0.5000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,44466,NaN,NaN,11.02070,NaN,NaN,1.4979,0.7007,8.22,9.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
324,44466,NaN,NaN,11.02707,210.0,150.0,1.4979,0.7007,8.22,9.15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
325,44480,353.4,353.4,NaN,75.0,NaN,0.5000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
326,44481,NaN,NaN,NaN,150.0,150.0,5.1910,4.2150,6.24,7.11,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
  ## cambiar los valores nulos por 0

  ch_dbo_1_0 = ch_dbo_1.replace({'-85':0, '-8':0})

  ch_dbo_1_0_0 = ch_dbo_1.fillna(0)
             
  ch_dbo_1_0_0

,FECHA,ALC_TOT,HCO3,CLOROF_A,COLI_FEC,E_COLI,COT,COT_SOL,DBO_SOL,DBO_TOT,...,CLORUROS_SOL,FLUORUROS_SOL,SO4_SOL,FE_SOL,MN_SOL,ZN_SOL,CA_SOL,MG_SOL,K_SOL,NA_SOL
0,44032,0.0,0.0,23.13460,15.0,15.0,1.1930,0.9930,7.44,8.88,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,44032,0.0,0.0,0.00000,390.0,230.0,2.3890,0.0000,0.00,2.78,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,44033,0.0,0.0,0.00000,930.0,430.0,1.9330,0.0000,0.00,3.60,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,44033,0.0,0.0,5.13640,0.0,0.0,2.7000,1.8650,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,44033,0.0,0.0,0.00000,280.0,280.0,2.0350,0.0000,0.00,2.85,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
322,44466,0.0,0.0,0.00000,23.0,0.0,0.5000,0.0000,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
323,44466,0.0,0.0,11.02070,0.0,0.0,1.4979,0.7007,8.22,9.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
324,44466,0.0,0.0,11.02707,210.0,150.0,1.4979,0.7007,8.22,9.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
325,44480,353.4,353.4,0.00000,75.0,0.0,0.5000,0.0000,0.00,0.00,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
326,44481,0.0,0.0,0.00000,150.0,150.0,5.1910,4.2150,6.24,7.11,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Análisis exploratorio de datos

In [ ]:
    # tamaño de los datos 

    ch_dbo_1.shape

(327, 121)

In [ ]:
    # tipos de datos

    ch_dbo_1.dtypes

FECHA         int64
ALC_TOT     float64
HCO3        float64
CLOROF_A    float64
COLI_FEC    float64
             ...
ZN_SOL      float64
CA_SOL      float64
MG_SOL      float64
K_SOL       float64
NA_SOL      float64
Length: 121, dtype: object

In [ ]:
#  ## cambiamos el tipo de datos

#  ## método .astype
#  ch_dbo_1[::].astype('float64')
#  ch_dbo_1.dtypes

#  ch_dbo_1[::] = [float(str(i).replace('<', ''))for i in ch_dbo_1[::]]

In [ ]:
    # obtenemos la descripción de los datos

    ch_dbo_1.describe()

,FECHA,ALC_TOT,HCO3,CLOROF_A,COLI_FEC,E_COLI,COT,COT_SOL,DBO_SOL,DBO_TOT,...,CLORUROS_SOL,FLUORUROS_SOL,SO4_SOL,FE_SOL,MN_SOL,ZN_SOL,CA_SOL,MG_SOL,K_SOL,NA_SOL
count,327.000000,36.000000,35.000000,128.000000,268.000000,221.000000,323.000000,169.000000,119.000000,238.000000,...,36.000000,36.000000,36.000000,36.000000,37.000000,36.000000,36.000000,36.000000,36.000000,36.000000
mean,44168.006116,223.626389,218.333429,4.491612,1911.205224,1762.855204,3.446046,2.694876,4.069580,6.858655,...,74.677778,0.522672,110.944222,0.123125,1.203346,0.052873,87.133865,24.807059,7.603237,40.698648
std,169.010781,111.640475,108.590760,4.713215,4237.072451,4236.681555,3.815170,3.082648,2.605825,8.942780,...,84.386607,0.508808,282.288363,0.181679,7.065126,0.048781,98.110692,21.520801,5.189652,27.853183
min,44032.000000,58.260000,58.260000,0.500000,1.000000,1.000000,0.500000,0.500000,2.000000,2.000000,...,10.000000,0.200000,15.000000,0.025000,0.001500,0.010000,9.861400,5.001900,1.000000,10.000000
25%,44056.500000,116.510000,116.510000,0.952550,43.000000,43.000000,1.383000,0.910000,2.000000,2.602500,...,10.000000,0.200000,15.000000,0.031397,0.001500,0.010000,20.073825,11.860187,1.382278,15.036725
50%,44081.000000,216.220000,215.650000,3.345350,460.000000,240.000000,2.218000,1.557000,3.060000,4.850000,...,22.085000,0.243800,19.109150,0.093540,0.001500,0.010000,73.846420,15.446765,7.888350,38.592700
75%,44341.000000,313.002500,305.125000,5.975050,2100.000000,1500.000000,4.052000,3.247000,5.355000,8.227500,...,124.695000,0.605975,94.489075,0.120190,0.020900,0.102110,89.800530,33.978543,12.386498,62.423478
max,44481.000000,463.980000,463.980000,26.564700,24196.000000,24000.000000,36.166000,18.965000,13.620000,85.230000,...,243.190000,1.990000,1636.508600,1.017000,43.006900,0.126590,499.397200,95.391710,17.014910,100.003700

In [ ]:
  ## batch k-means

  # al ser aprendizaje no supervisado, no separamos nuestro datasets en partes  
  # eliminaremos los nombres de los caramelos, ya que eso no nos sirve para el algoritmo 
  X = ch_dbo_1_0_0.drop('FECHA', axis=1)

  kmeans = MiniBatchKMeans(n_clusters = 6,batch_size = 8).fit(X) 
  
  print('Total de centros: ', len(kmeans.cluster_centers_)) 
  print('*'*64) 
  print(kmeans.predict(X)) 
    
  ch_dbo_1_0_0['group'] = kmeans.predict(X) 
      
  print(ch_dbo_1_0_0)

Total de centros:  6
****************************************************************
[5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5
 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 3 5 3 5 3
 5 5 5 5 4 5 5 5 2 2 2 2 5 5 3 5 5 5 5 4 5 5 5 4 4 5 5 5 2 5 4 5 5 5 5 5 5
 5 5 5 5 5 5 2 5 5 3 3 4 5 5 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 2 5 5 5 5 5
 3 3 5 5 5 5 2 4 5 3 5 5 2 2 4 4 5 3 3 5 2 5 5 5 5 5 5 5 5 5 0 4 4 0 5 5 2
 5 5 5 5 5 5 5 5 5 5 5 3 5 5 5 5 5 5 5 1 5 5 5 5 5 5 5 5 5 5 5 5 1 5 5 5 5
 2 5 5 5 2 5 1 5 4 4 5 5 5 3 5 5 5 1 0 5 0 5 5 5 5 5 2 4 4 5 5 5 5 5 5 5 5
 1 5 0 5 5 4 5 5 5 5 0 5 5 5 1 0 5 1 1 5 5 4 5 0 5 5 5 0 5 5 2 5 5 5 5 5 5
 5 2 5 5 5 0 5 5 5 2 2 5 5 5 5 0 0 5 5 5 5 0 0 0 0 5 5 5 5 5 5]
     FECHA  ALC_TOT   HCO3  CLOROF_A  COLI_FEC  E_COLI     COT  COT_SOL  \
0    44032      0.0    0.0  23.13460      15.0    15.0  1.1930   0.9930
1    44032      0.0    0.0   0.00000     390.0   230.0  2.3890   0.0000
2    44033      0.0    0.0   0.00000     930.0   430.0  1.9330   0.0000
3    44033      0.0    0.0   5.13640       0.0     0.0  2.7000   1.8650
4    44033      0.0    0.0   0.00000     280.0   280.0  2.0350   0.0000
..     ...      ...    ...       ...       ...     ...     ...      ...
322  44466      0.0    0.0   0.00000      23.0     0.0  0.5000   0.0000
323  44466      0.0    0.0  11.02070       0.0     0.0  1.4979   0.7007
324  44466      0.0    0.0  11.02707     210.0   150.0  1.4979   0.7007
325  44480    353.4  353.4   0.00000      75.0     0.0  0.5000   0.0000
326  44481      0.0    0.0   0.00000     150.0   150.0  5.1910   4.2150

     DBO_SOL  DBO_TOT  ...  FLUORUROS_SOL  SO4_SOL  FE_SOL  MN_SOL  ZN_SOL  \
0       7.44     8.88  ...            0.0      0.0     0.0     0.0     0.0
1       0.00     2.78  ...            0.0      0.0     0.0     0.0     0.0
2       0.00     3.60  ...            0.0      0.0     0.0     0.0     0.0
3       0.00     0.00  ...            0.0      0.0     0.0     0.0     0.0
4       0.00     2.85  ...            0.0      0.0     0.0     0.0     0.0
..       ...      ...  ...            ...      ...     ...     ...     ...
322     0.00     0.00  ...            0.0      0.0     0.0     0.0     0.0
323     8.22     9.15  ...            0.0      0.0     0.0     0.0     0.0
324     8.22     9.15  ...            0.0      0.0     0.0     0.0     0.0
325     0.00     0.00  ...            0.0      0.0     0.0     0.0     0.0
326     6.24     7.11  ...            0.0      0.0     0.0     0.0     0.0

     CA_SOL  MG_SOL  K_SOL  NA_SOL  group
0       0.0     0.0    0.0     0.0      5
1       0.0     0.0    0.0     0.0      5
2       0.0     0.0    0.0     0.0      5
3       0.0     0.0    0.0     0.0      5
4       0.0     0.0    0.0     0.0      5
..      ...     ...    ...     ...    ...
322     0.0     0.0    0.0     0.0      5
323     0.0     0.0    0.0     0.0      5
324     0.0     0.0    0.0     0.0      5
325     0.0     0.0    0.0     0.0      5
326     0.0     0.0    0.0     0.0      5

[327 rows x 122 columns]

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=41369edc-cd57-4aa2-ba72-81809a5fcc65' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>